{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Git-Roadmap</title>
	<link rel="stylesheet" href="{% static 'roadmap/style.css' %}">
</head>
<body>
    <div> {% include 'navbar.html' %} </div>
    <main>
        <section class="hero">
            <h1>Git-Roadmap</h1>
            <p>A better way to manage your Git projects.</p>
            <a href="http://localhost:8000/create_new_roadmap/" class="cta">Get started</a>
        </section>
    </main>
    
    <footer>
        <p>Copyright &copy; 2023 Git-Roadmap</p>
    </footer>
</body>
</html>