{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
	<title>Git-Roadmap</title>
	<link rel="stylesheet" href="{% static 'roadmap/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        {% include 'navbar.html' %}
    </div>
    
    <div class="w3-sidebar w3-green w3-bar-block" style="width:10%; margin-top:3.3%;">
        <h3 class="w3-bar-item">Repositories</h3>

        {% for repo in repos %}
            <a href="{% url 'create_new_roadmap' repo.id %}" class="w3-bar-item w3-button">{{ repo.name }}</a>
        {% endfor %}
    </div>
</body>
</html>