{% load static %}
{% load socialaccount %}

<header>
    <nav>
        <ul>
            <li><a href="">My Roadmaps</a></li>
            <li><a href="http://localhost:8000/create_new_roadmap/">Create New Roadmap</a></li>
            {% if request.user.is_authenticated %}
                <li class="right"><a href = "{% url 'account_logout' %}">Log out</a></li>
            {% else %}
                <li class="right"><a href = "{% provider_login_url 'github' %}">Sign in with GitHub</a></li>
            {% endif %}
        </ul>
    </nav>
</header>